<div class="top-bar">
    <div class="top-bar-title">Black Individuals Admin area</div>

    <div class="top-bar-left">
        <ul class="menu">
            <li class="admin-menu"><a [routerLink]="['/admin/blog-admin']">Manage Blog</a></li>
        </ul>
    </div>
    <div *ngIf = "theUser" class="top-bar-right">
        <ul class="menu">
            <li class="admin-menu"><a (click)="logout()">Log Out</a></li>
            <li class="admin-menu"><a>{{theUser}} Logged In</a></li>
        </ul>
    </div>

</div>


<div class="row"> 
    <img src="C:\Users\john.s.filson\Additional Learning\angular-2-end-to-end\03\demos\gigabyte\src\app\admin\adminShared\images\code.jpg"> 
</div>

<div class="row align-center">
  <h2>Welcome to the Admin Area for the Black Individuals.</h2>
      <h3>This area is for authorized users only!</h3>
</div>
