.hero {
    width: 100%;
}

.display-image {
    height: 100px;
    width: 20%;
}

.spacing {
    margin-top: 100px;
}

.card-spacing {
    padding-bottom: 40px;
}

.list-title:hover {
    color: #0000ff;
    cursor: pointer;
}